.container {
  flex-grow: 1;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.xl {
  font-size: 2rem;
}

.lg {
  font-size: 1.75rem;
}

.md {
  font-size: 1.5rem;
}

.lg li {
  margin-bottom: 1rem;
}

.nextContainer {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.code {
  background-color: #212121;
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
}

.error {
  color: red;
}

.button {
  background-color: var(--accent-color);
  border: none;
  font-size: 1.25rem;
  color: white;
  padding: 8px 14px 8px 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.input {
  border: none;
  height: 2rem;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  /* border-bottom: 1px solid red; */
  margin: 1rem;
  background-color: inherit;
  color: inherit;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1rem;
}
