.content {
  margin-bottom: 4rem;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.imageWrapper {
  margin-right: 1rem;
}

.date {
  font-weight: 200;
  font-size: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}

.skill {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.details {
  padding-left: 3rem;
}
