.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helloContainer {
  display: flex;
  flex-direction: column;
  max-width: 75VW;
}

.helloLine {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile {
  border-radius: 50%;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: start;
  margin-left: 3rem;
}

.code {
  color: #fafafa;
  background: #212121;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* @media (max-width: 600px) {
} */
